/* who needs it */
@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot?v=1");
    src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff?v=1") format("woff"),
        url("../fonts/casper-icons.ttf?v=1") format("truetype"),
        url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    text-transform: uppercase;
}

.site-wrapper {
    clear: both;
}

.nav li {
    display: block;
    float: left;
    margin: 1em;
    list-style: none;
}

.blog-logo img {
    width: 100px;
    display: block;
    float: left;
    margin-right: 1em;
}

.main-header {
    background-size: cover;
    min-height: 100px;
}

.post-header {
    float: left;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.author-image .img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    float: left;
    background-size: cover;
    margin-right: 1em;
}

.author {
    overflow: hidden;
}

.share {
    clear: both;
    margin-top: 1em;
}

.post {
    max-width: 45em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}

.post-meta {
    font-style: italic;
    font-size: 0.8em;
}

.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
    font-family: "casper-icons";
}

.icon-facebook:before {
    content: "\f604";
    font-family: "casper-icons";
    margin-left: 1em;
}
