/* who needs it */
@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot?v=1");
    src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff?v=1") format("woff"),
        url("../fonts/casper-icons.ttf?v=1") format("truetype"),
        url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.site-wrapper {
    clear: both;
}

.nav li {
    display: block;
    float: left;
    margin: 1em;
    list-style: none;
}

.main-head {
    min-height: 100px;
}

.blog-logo img {
    width: 100px;
    display: block;
    float: left;
}

.main-header {
    background-size: cover;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.author-image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    float: left;
}

.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}

.icon-facebook:before {
    content: "\f604";
}
