* {
    padding: 0;
    margin: 0;
}

.author-profile-image {
    border-radius: 50%;
    height: 1.5rem;
}

svg {
    height: 1em;
    width: 1em;
}

.nav li {
    display: inline;
    margin-right: 1em;
    list-style: none;
}

.post-card {
    margin: 2em 0 3em 0;
}
